.header{
    background-color: white;
    margin-bottom: -10px;
}

.bodyContent{
    border-top:2px solid silver;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background-color:#fff;
}

.bodyForm{
    margin: 20px 50px !important;
}

.formItemInput{
    margin-left: 50px !important;
}

.formItemButton{
    float: right;
}
.formItemButtonOne{
    margin-right: 10px;
}
.drawerButton{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px;
    background: #fff;
    text-align: right;
}
